@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Do not show tracking protection icon (shield icon on left) */
#tracking-protection-icon-container {
  display: none !important;
}

/* Adding slight margin to either side of URL bar */
#urlbar-container, #search-container {
  margin-inline: 8px !important;
}

/* Making tabs slightly larger in height */
tab.tabbrowser-tab {
  height: 35px !important;
}

/* Disable new tab "loading burst" effect */
.tabbrowser-tab .tab-loading-burst {
  display: none !important;
}


/* ----- URL BAR TWEAKS ----- */
/* Variables */
#urlbar {
  --custom-animation-timings: 150ms 50ms;
}
/* Replace new tab 'page loaded by' message with plain search icon and fix spacing */
#identity-box #identity-icon-labels {
  display: none !important;
}
#identity-box.extensionPage[pageproxystate="valid"] {
  margin-inline-end: 0 !important;
  border-inline-end: none !important;
}
#identity-box.extensionPage[pageproxystate="valid"] #identity-icon {
  list-style-image: url(chrome://browser/skin/search-glass.svg) !important;
  fill-opacity: 0.4 !important;
}
/* Make action buttons invisible except on hover */
#urlbar #page-action-buttons {
  opacity: 0 !important;
  transition: var(--custom-animation-timings);
}
#urlbar[pageproxystate="valid"]:hover #page-action-buttons {
  opacity: 1 !important;
  transition: var(--custom-animation-timings);
}

/* Post FF75 style tweaks */

toolbar#nav-bar {
  max-height: 38px !important;
}

/* Making back button normal, no circle */
#back-button:hover {
  --backbutton-hover-background: var(--toolbarbutton-hover-background) !important;
}
.toolbarbutton-icon[label="Back"] {
  padding: var(--toolbarbutton-inner-padding) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  border: none !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  background-color: unset !important;
}

#urlbar-container {
  --urlbar-container-height: 36px !important;
}

#urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 36px !important;
}

/* Making toolbar buttons match height of urlbar, then adding extra padding to make the icons look the same size */
toolbarbutton:not([class*="panel-no-padding"]).toolbarbutton-1 > .toolbarbutton-icon, toolbarbutton.chromeclass-toolbar-additional stack.toolbarbutton-badge-stack {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 18px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 18px) !important;
  padding: calc(var(--toolbarbutton-inner-padding) + 1px) var(--toolbarbutton-inner-padding) !important;
}

/* Fixing non-centered extension icons in newly sized parent containers */
toolbarbutton.chromeclass-toolbar-additional stack.toolbarbutton-badge-stack image.toolbarbutton-icon {
  margin-left: 1px !important;
}

/* Removing 'customise' button in overflow menu */
#overflowMenu-customize-button {
  display: none !important;
}

/*  Not in use but works:
    Creates a line between first extension item in overflow dropdown and "built-in" icons.
    Requires at least two extension icons after each other, below default ones.

panel#widget-overflow #widget-overflow-fixed-list > toolbarbutton[class*="webextension"] {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

panel#widget-overflow #widget-overflow-fixed-list > toolbarbutton[class*="webextension"] ~ toolbarbutton[class*="webextension"] {
  border: none !important;
  height: unset !important;
}
*/
